
@font-face {
    font-family: 'heading';
    src: url('../fonts/Neufreit.otf');
}
#fullSection {
    position: absolute;
    /* background-color: rgba(37, 0, 221, .6); */
    height: 100%;
    width: 100%;
    border-top-right-radius: 100% 100%;
    border-top-left-radius: 100% 100%;
    border-bottom-left-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
}
#imgTop {
    position: absolute;
    background-image: url('../images/topCropped.png');
    border-bottom-left-radius: 45% 100%;
}
#imgBottom {
    position: absolute;
    height: 10%;
    background-image: url('../images/bottomCropped.png');
    bottom: 0;
    border-top-right-radius: 45% 100%;
}
#imgTop, #imgBottom {
    filter: blur(1px);
    box-shadow: 0 3000px rgba(37, 0, 221, 0.6) inset;
    background-size: contain;
    width: 100%;
}
@media(max-width: 768px) {
    #imgTop {
        height: 8%;
    }
    #topText {
        font-size: 6vw!important;
        left: 30%!important;
    }
    #imgBottom {
        height: 7%;
    }
    #divLogin {
        top: 18%;
        width: 90%;
    }
}
@media(min-width: 767px) {
    #imgTop {
        height: 10%;
    }
    #topText {
        font-size: 3vw!important;
        /* margin-right: 1em; */
    }
    #imgBottom {
        height: 8%;
    }
    #divLogin {
        top: 25%;
        width: 35%;
    }
}
#topText {
    position: absolute;
    z-index: 1;
    left: 64%;
    /* -webkit-text-stroke-color: black!important;
    -webkit-text-stroke-width: 2px!important; */
    padding: 0;
    text-transform: capitalize;
    font-family: heading;
    color: #FFFFFF;
    font-family: src;
    font-weight: 1000;
    word-wrap: break-word;
}
#divLogin {
    padding: 2%;
    border: .2rem;
    /* border-style: solid;
    border-color: blue; */
    margin: auto;
    position: relative;
    text-align: center;
}
.email {
    position: absolute;
    top: 33%;
    right: 91%;
}