#fullSection {
    background-image: url('../images/back.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    background-color: #ADD8E6;
    height: 100%;
    width: 100%;
}
#divLogin {
    border: .2em;
    width: 20%;
    border-style: solid;
    border-color: red;
    margin: auto;
    position: relative;
    top: 50%;
    text-align: center;
}